body{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 25vh 60vh 20vh;
    background-color: #cd9264;
}



header{
display: flex;
border: solid brown 3px;
border-radius: 10px;
justify-content: space-evenly;
align-items: center;
margin-left: 15%;
margin-right: 15%;
padding-top: 1%;
padding-bottom: 1%;
grid-column: 2;
background-color: rgb(164, 62, 62);
font-family: "Nabla", system-ui;
font-size: 70px;
}
#Taco img{
    height: 170px;
    width: 260px;
    grid-column: 1;
    margin-left: 15.4%;
    border: solid brown 3px;
    border-radius: 10px;
}
#Taco2 img{
    height: 170px;
    width: 260px;  
    grid-column: 3;
    border: solid brown 3px;
    border-radius: 10px;
    margin-left: 15%;
}
nav{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
margin-left: 15%;
margin-top: 2%;
gap: 10px;
border: solid brown 3px;
border-radius: 10px;
margin-right: 15%;
grid-column:1;
background-color: rgb(164, 62, 62);
}

a{
color: rgb(221, 157, 39);
}

main{
display: flex;
border: solid brown 3px;
border-radius: 10px;
margin-top: 1%;
background-color: rgb(164, 62, 62);
color: rgb(229, 125, 50);
font-size: 18px;
flex-wrap: wrap;
}


aside{
display: flex;
flex-direction: column;
align-items: center;
margin-left: 15%;
margin-right: 15%;
background-color: rgb(164, 62, 62);
border-radius: 10px;
}
h2{
color: rgb(243, 170, 35);
font-size: 20px;

}
p{
color: rgb(221, 157, 39);
padding-left: 5%;
padding-right: 2%;
padding-top: 14%;
}

footer{
    display: flex;
    background-color: rgb(164, 62, 62);
    border-radius: 10px;
    align-items: center;
    grid-column: 2;
    height: 50px;
    margin-top: 20px;
    justify-content: center;
}
h3{
    color: rgb(252, 219, 219);
}