body{
    background-color: #cd9264;
}

header{
display: flex;
border: solid brown 3px;
border-radius: 10px;
justify-content: space-evenly;
align-items: center;
margin-left: 15%;
margin-right: 15%;
padding-top: 1%;
padding-bottom: 1%;
}
header img{
    height: 200px;
    width: 250px;
}